extends layout

block content
	.page-header
		h1= title
	.lead
		#app
			input(id="clientKey",type="text",maxlength="4",placeholder="Enter your code here")
			button(id="login",type="submit",class="btn btn-primary") Login

		#app2(style="display:none")
			ul
				for team in teams
					li(class="team #{team}",data-teamname=team)= team
						| &nbsp;
						select(name="rate_#{team}")
							for
								each rate, i in ratings
									option(value=rate,selected=i==4) #{rate}

				else
					li sorry, no teams!
			button(type="submit",class="btn btn-primary") Submit

	script(src='/socket.io/socket.io.js')
	script(src='http://code.jquery.com/jquery-2.0.3.min.js')
	script(src='/js/frontend.js')
	script(src='/js/bootstrap.min.js')
