extends layout

block content
	.page-header
		h1= title
	.lead
		#welcome(data-code=code, data-port=socketPort)
			|Wrong pass!!

		#app(style="display:none")
			ul
				for team in teams
					if team != activeUser.team
						li(class="team voter #{team}", data-teamname=team)
							h1= teamNames[team].boss
							h2= teamNames[team].name
							h3= teamNames[team].appName
							| &nbsp;
							div.voterBottom
								p Értékeld a csapatot!
								ul(class="numbers clearAfter")
									each rate, i in ratings
										li.radio
											label
												input(type="radio", name="rates_#{team}", value=rate)
												| #{rate}
								//button(type="submit",class="btn btn-primary") Submit
								a(class="voterAction", href="#", data-team=team) Szavazat elküldése
					else
						|<!--own team skipped-->
				else
					li sorry, no teams!

	script(src='/socket.io/socket.io.js')
	script(src='http://code.jquery.com/jquery-2.0.3.min.js')
	script(src='/js/frontend.js')
	script(src='/js/bootstrap.min.js')
