extends layout

block content
	.page-header
		h1= title
	.lead
		#welcome(data-code=code,data-port=socketPort)
			|Wrong pass!

		#app(style="display:none")
			ul
				for team in teams
					if team != activeUser.team
						li(class="team #{team}",data-teamname=team)= teamNames[team]
							| &nbsp;
							each rate, i in ratings
								div.radio
									label
										input(type="radio",name="rates_#{team}",value=rate)
										| #{rate}
					else
						|<!--own team-->

				else
					li sorry, no teams!
			button(type="submit",class="btn btn-primary") Submit

	script(src='/socket.io/socket.io.js')
	script(src='http://code.jquery.com/jquery-2.0.3.min.js')
	script(src='/js/frontend.js')
	script(src='/js/bootstrap.min.js')
